* {
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 50px 0;
    background-color: #FF6B1A;
    color: white;
}

.navigation{
    width: 100%;
    display: flex;
    padding:4px;
   gap:10px;
   background-color: #1A1A1A;
   height: 50px;
    align-items: center;
}
.navigation li {
    background-color: red;
    color: white;
    padding: 3px;
    display:none;
}

.mcdonalds{
    display: flex;
    gap:2px;
    padding:2px;
    background-color:#FF6B1A;
    border-radius: 5px;
    color: white;
    align-items: center;
    height: 30px;
    width: 90px;
    justify-content: center;
    margin-left: 10px;

}

.welcome {
    background-color: #2A2A2AE5;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.logo2 {
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
   opacity: 0.15; 
}

.text {
  position: absolute;
  z-index: 2;
  color: white;
  padding: 20px;
}

.box {
    display:flex;
    border-radius: 12px;
    border-top: 4px solid #FF6B1A;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    box-shadow: 0px 2px 8px 0px black;
    margin: 30px 20px;
}


.box p {
  margin: 20px; 
  font-size: 16px;
  color: #666666;
}

.box h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-left: 20px;
}

footer {
    background-color: #1A1A1A;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.one {
    margin: 20px;
}

.two {
    display: none;
}

@media (min-width: 500px) {
    .navigation{
        justify-content:center;
        gap: 2px;

    }
    .navigation li{
        display:unset;
        display: flex;
        gap:2px;
        padding:2px;
        background-color:#FF6B1A;
        border-radius: 5px;
        color: white;
        align-items: center;
        height: 30px;
        width: 90px;
        justify-content: center;
        margin-left: 10px;
    }
    .mcdonalds {
        display:none;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0px 100px;
    }

    .two {
    display: unset;
}
}